// start .sForm
.sForm {
	@include media-breakpoint-up(xl){
		--sPT: #{rem(75)};
		--sPB: #{rem(77)};
	}
	--sTPB: #{rem(29)};

	position: relative;
	z-index: 1;
	&:before{
		content: '';
		position: absolute;
		left: 0;
		bottom: -100px;
		z-index: -1;

		width: 100%;
		height: 700px;

		clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
		@include media-breakpoint-up(lg){
			clip-path: polygon(0 25.5%, 100% 0, 100% 100%, 0% 100%);
		}
		background: $green2;
	}

	&__main-row{

	}
	.section-title{
		@include media-breakpoint-up(lg){
			max-width: 487px;
		}

		h2{
			margin-bottom: 18px;
		}
		p{
			font-family: $mono;
			line-height: 1.55;
		}
	}
	&__name-row{
		@include roww(19px);
	}
	&__man{
		width: rem(67);
		height: rem(67);
		border-radius: 50%;
		background: $white;
		overflow: hidden;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__name{
		font-family: $mono;
		font-weight: 600;
		font-size: rem(18);
		line-height: 1.5;

		@include media-breakpoint-up(xxl){
			margin-bottom: -2px;
			position: relative;
			top: -3px;
		}
	}
	&__duty{
		font-family: $mono;
		line-height: 1.5;
		color: $green6;
	}
	.form-wrap{
		max-width: 480px;
		@include media-breakpoint-up(xxl){
			position: relative;
			top: -2px;
			left: -2px;
		}

		&__input-wrap{
			position: relative;
			z-index: 1;
			width: 100%;
			margin-bottom: rem(24);
		}
		&__input{
			padding: rem(20.5) rem(22) rem(20.5) rem(63);
			border: none!important;

			box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.05) !important;
			&:focus{
				box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1) !important;
			}

			font-size: rem(18);
			line-height: (25/18);
			border-radius: 2px;
		}
		&__icon{
			position: absolute;
			pointer-events: none;
			left: 13px;
			top: 50%;
			transform: translateY(-50%);

			width: 37px;
			height: 37px;

			display: flex;
			align-items: center;
			justify-content: center;

			img{
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
			}
		}
		&__txt{
			font-size: rem(14);
			line-height: (19/14);
			margin-bottom: 16px;
		}
		&__btn{
			@extend .btn-default;
			padding: rem(19) rem(38);
			margin-bottom: 16px;

			width: 100%;
			@include media-breakpoint-up(lg){
				width: auto;
			}
		}
		&__policy{
			font-family: $mono;

			font-size: 10px;
			line-height: 1.4;
			color: $gray-420;

			a{
				text-decoration: none;
				color: $gray-420;
				&:hover{
					text-decoration: none;
					color: $primary;
				}
			}
		}
		&__polite{
			font-family: $mono;
			font-size: 12px;
			line-height: 1.5;
			color: $green15;

			a{
				text-decoration: underline;
				color: $green15;
				&:hover{
					text-decoration: none;
				}
			}
		}
		&__{}
		&__{}
	}
	//
	&__{}
	&__{}
	&__{}
} // end.sForm