mixin modal()
	//  start modals
	+b.modal-win(id="modal-call" class=" " style="display: none" )
		+form-wrap
			+e.title Как вам удобно получить консультацию и материалы?
			.tabs
				.tabs__caption.row.gy-2
					.col-sm-4
						+e.tab-btn.tabs__btn.active
							+e.t-icon
								img(loading="lazy" src="img/svg/tabs-tell.svg" alt="")
							+e.t-txt По телефону
					.col-sm-4
						+e.tab-btn.tabs__btn
							+e.t-icon
								img(loading="lazy" src="img/svg/tabs-wa.svg" alt="")
							+e.t-txt WhatsApp
					.col-sm-4
						+e.tab-btn.tabs__btn
							+e.t-icon
								img(loading="lazy" src="img/svg/tabs-vb.svg" alt="")
							+e.t-txt Viber
				.tabs__wrap
					//-1
					.tabs__content.active
						+e.input-wrap.form-group
							+e.INPUT.input.form-control(name="" type="text" placeholder="Введите Ваше имя")
							+e.icon
								img(loading='lazy' src="img/name-inp-icon2.png" alt="")
						+e.input-wrap.form-group.mb-32
							+e.INPUT.input.form-control(name="" type="tell" placeholder="+7 (900) 000-00-00")
							+e.icon
								img(loading='lazy' src="img/svg/inp-flag2.svg" alt="")
					//-2
					.tabs__content
						+e.input-wrap.form-group
							+e.INPUT.input.form-control(name="" type="text" placeholder="Введите Ваше имя")
							+e.icon
								img(loading='lazy' src="img/name-inp-icon2.png" alt="")
						+e.input-wrap.form-group.mb-32
							+e.INPUT.input.form-control(name="" type="tell" placeholder="+7 (900) 000-00-00")
							+e.icon
								img(loading='lazy' src="img/svg/tabs-wa.svg" alt="")
					//-3
					.tabs__content
						+e.input-wrap.form-group
							+e.INPUT.input.form-control(name="" type="text" placeholder="Введите Ваше имя")
							+e.icon
								img(loading='lazy' src="img/name-inp-icon2.png" alt="")
						+e.input-wrap.form-group.mb-32
							+e.INPUT.input.form-control(name="" type="tell" placeholder="+7 (900) 000-00-00")
							+e.icon
								img(loading='lazy' src="img/svg/tabs-vb.svg" alt="")
			+e.btn-cont.text-center
				+e.btn(type="submit") отправить заявку
				+e.polite
					| Нажимая на кнопку, вы даете согласие на
					|
					br
					| обработку
					|
					a(href="#") персональных данных.
	// #modal-call
	
	// end modals