// start .sMaterial
.sMaterial {
	--sPT: #{rem(34)};
	--sPB: #{rem(45)};
	--sTPB: #{rem(42)};

	&__title{
		font-weight: bold;
		font-size: rem(18);
		line-height: (22/18);

		margin-bottom: rem(23);
	}
	&__row{
		@include roww(14px);
		--bs-gutter-y: 14px;
	}
	&__col{
		@include media-breakpoint-up(xxl){
			width: calc(100%/8);
		}
	}
	&__img{
		background: $gray-110;
		width: 100%;
		height: rem(74);

		padding: rem(10px);

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
} // end.sMaterial