mixin sMaterial(data)
	// start sMaterial
	+b.sMaterial.section#sMaterial&attributes(attributes)
		.container
			+e.title Работаем с проверенными материалами
			+e.slider-wrap
				.swiper-container.sMaterial-slider-js
					.swiper-wrapper
						-for(var i = 1; i < 9; i++)
							+sMaterialItem(i)

	// end sMaterial

mixin sMaterialItem(imgNum)
	.swiper-slide
		+e.img
			img(loading='lazy' src=`img/@2x/sMaterial-${imgNum}.png` alt="")