// start .sMaterial
.sMaterial {
	--sPT: #{rem(34)};
	--sPB: #{rem(45)};
	--sTPB: #{rem(42)};

	&__title{
		font-weight: bold;
		font-size: rem(18);
		line-height: (22/18);

		margin-bottom: rem(23);
	}

	&__slider-wrap{
		.swiper-container{
			overflow: visible!important;
		}
		.swiper-wrapper{}
		.swiper-slide{
			width: 150px;
			@include media-breakpoint-up(xl){
				width: calc(100% / 8 - (14px * 7/8));
			}
		}
	}
	&__img{
		background: $gray-110;
		height: rem(74);

		padding: rem(10px);

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
} // end.sMaterial