extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sInterier/_sInterier.pug
include ../blocks/sKnow/_sKnow.pug
include ../blocks/sFeedBack/_sFeedBack.pug
include ../blocks/sMaterial/_sMaterial.pug
include ../blocks/sRecent/_sRecent.pug
include ../blocks/sFAQ/_sFAQ.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'title'
	title= title
block pagecontent
	+mob-mnu()
	//-+header()
	+top-nav()
	+headerBlock()
	+sInterier()
	+sKnow()
	+sFeedBack()
	+sMaterial()
	+sRecent()
	+sFAQ()
	+sForm()
	+footer()