// start .sFeedBack
.sFeedBack {
	--sPT: #{rem(56)};
	--sPB: #{rem(45)};
	--sTPB: #{rem(42)};

	&__container{
		position: relative;
		z-index: 1;
	}
	&__brackets{
		position: absolute;
		z-index: -1;
		right: 50px;
		top: -40px;
		width: 94px;
		height: 72px;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__row{
		@include roww(15px);
	}
	&__txt-col{
		@include media-breakpoint-up(xxl){
			width: 37.55%;
		}

		@include media-breakpoint-between(xl, xxl){
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
	.section-title{
		@include media-breakpoint-up(xxl){
			padding-top: 5px;
		}
		h2{
			margin-bottom: rem(15);
		}
		p{
			font-family: $mono;
			@include media-breakpoint-up(xl){
				max-width: rem(415);
			}
		}
	}

	//
	&__amount-cont{
		//min-height: rem(90);
		position: relative;
		z-index: 1;
		&:before{
			content: '';
			position: absolute;
			z-index: -1;
			width: rem(90);
			height: rem(90);

			border-radius: 50%;
			top: rem(-12);
			left: rem(28);
			background: $green2;
		}

		margin-bottom: rem(23);
	}
	&__a-row{
		@include roww(15px);
	}

	&__amount{
		font-family: $mono;
		line-height: 1;
		margin: rem(12) 0 0;

		font-size: rem(36);
		@include media-breakpoint-up(sm){
			font-size: rem(48);
		}
	}
	&__amount-txt{
		font-family: $mono;

		font-size: 12px;
		@include media-breakpoint-up(sm){
			font-size: rem(15px);
		}
	}
	&__rate{
		display: block;
		width: 182px;
		height: auto;
		img{
			width: auto;
			height: auto;
			max-width: 100%;
		}
	}
	//
	&__arrow-col{
		display: flex;

		justify-content: space-between;
		@include media-breakpoint-up(sm){
			flex-direction: column;
			justify-content: flex-end;
		}

		@include media-breakpoint-up(xxl){
			position: relative;
			bottom: -7px;
		}
	}
	&__arrow{
		cursor: pointer;
		@include mt();

		width: calc(50% - 10px);
		@include media-breakpoint-up(sm){
			width: rem(150);
		}
		border-radius: 2px;

		background: $gray-110;
		&:hover{
			background: lighten($gray-110, 2);
		}

		display: flex;
		flex-direction: column;
		align-items: center;

		padding: rem(10) rem(15);


	}
	&__icon{

	}
	&__a-txt{
		font-family: $mono;
	}
	&__{}
	//
	&__slider-col{
		@include media-breakpoint-up(xxl){
			width: 62.45%;
		}
	}
	&__slider-wrap{
		background: $white;
		box-shadow: 0 0 rem(34) rgba(0, 0, 0, 0.25);
		border-radius: rem(16);

		padding: rem(32) rem(16);
		@include media-breakpoint-up(sm){
			padding: rem(32);
		}
		.swiper-container{

		}
		.swiper-wrapper{

		}
		.swiper-slide{
			width: 100%;
			height: auto;
		}
	}
	&__card{

	}
	&__card-row{
		@include media-breakpoint-up(xxl){
			@include roww(49px);
		}
	}
	&__c-data-col{
		@include media-breakpoint-up(xl){
			width: calc(200px + var(--bs-gutter-x));
		}
	}
	&__name-row{
		@include roww(16px);
		padding-bottom: rem(30);
	}
	&__portrait{
		width: 56px;
		height: 56px;
		border-radius: 50%;
		overflow: hidden;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__name{
		font-family: $mono;
		font-size: rem(18);
		line-height: (25/18);

		@include media-breakpoint-up(xxl){
			padding-top: 2px;
		}
		margin-bottom: 6px;
	}
	&__date{
		font-family: $mono;
		line-height: (20/15);
		color: $gray-430;
	}
	&__video-link{
		display: flex;
		align-items: center;

		padding: 12px 17px;
		background: $gray-110;
		border-radius: 2px;
		margin-bottom: rem(12);

		--txt-td: underline;
		&:hover{
			--txt-td: none;
		}
	}
	&__ball{
		width: rem(40);
		height: rem(40);
		margin-right: 18px;
		background: $green2;
		border-radius: 50%;

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__v-txt{
		font-family: $mono;
		font-size: 12px;
		line-height: ($green14);
		color: $green14;
		text-decoration-line: var(--txt-td, underline);
	}
	&__pic-cont{
		max-width: 200px;
	}
	&__picture{
		@extend .accept-ratio-frame-nh;
		border-radius: 2px;
		padding-top: 97%;
	}
	&__c-txt-col{
		p{
			font-family: $mono;

			font-size: 14px;
			margin-bottom: rem(20);
			line-height: 1.45;
			@include media-breakpoint-up(xxl){
				font-size: rem(15);
				margin-bottom: rem(23);
				line-height: 1.55;
			}
		}
		& > *:last-child{
			margin-bottom: 0;
		}
	}
	//
	&__{}
	&__{}
} // end.sFeedBack