.top-nav {
  padding: 10px 0;
  @include media-breakpoint-up(xl){
    padding: 0;
  }

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 100;

  &:after{
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: $gray-910;
  }

  //!!
  @include mt();
  background: rgba(0, 0, 0, 0.2);
  &.fixed{
    background: lighten($gray-990, 1);
  }

  &__row{
    @include roww(20px);
    @include media-breakpoint-up(xxl){
      @include roww(14px);
    }
  }
  &__logo{
    display: block;

    @include media-breakpoint-up(xxl){
      margin-left: 11px;
    }
  }
  &__txt-box{
    background: rgba(39, 40, 38, 0.23);
    border-radius: 2px;
    width: 162px;

    padding: 4px 8px;

    font-family: $mono;
    font-size: rem(11);
    line-height: (15/11);
    color: $gray-610;
  }
  .navMenu{
    display: flex;
    @include media-breakpoint-up(xxl){
      margin: 0 0 0 10px;
    }

    &__item{
      padding: 0;
      margin-right: 32px;
      &:last-child{
        margin-right: 0;
      }
    }
    &__link{
      text-decoration: none;
      padding: 21px 0;

      font-weight: bold;
      line-height: (18/15);
      color: $green2;

      position: relative;
      &.active{
        &:after{
          opacity: 1;
        }
      }

      &:after{
        @include mt();
        opacity: 0;
        content: '';
        position: absolute;
        bottom: 0;
        left: -13px;
        width: calc(100% + 26px);
        height: 1px;
        background: #CADA6A;
      }
    }
  }
  &__tell{
    text-decoration: none;
    font-weight: bold;
    font-size: rem(18);
    line-height: (22/18);
    color: $primary;
  }
  &__shedule{
    font-family: $mono;
    font-size: 10px;
    line-height: (14/10);
    color: $green2;
  }
  &__btn{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: $gray-960;

    display: flex;
    align-items: center;
    justify-content: center;

    .icon{
      font-size: 24px;
      color: $green2;
    }

    @include media-breakpoint-up(xxl){
      position: relative;
      left: -5px;
      margin-right: -5px;
    }
  }

  //
  &__{}
  &__{}
}


