mixin mob-mnu()
	+b.menu-mobile--js.d-xl-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+e.logo(href="#")
				img(loading="lazy" src="img/svg/logo.svg" alt="")
			+mnu()
			+e.tell.mt-auto(href="#") +7 (900) 000-00-00
			+e.shedule Ежедневно с 9:00 до 21:00

	//  мобильное меню

mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.row.row.align-items-center
				.col.col-md-auto
					+e.logo(href="#")
						img(loading="lazy" src="img/svg/logo.svg" alt="")
				.col.col-xl-auto.d-none.d-md-block
					+e.txt-box Фабрика по изготовлению кухонь на заказ
				.col.d-none.d-xl-block
					+mnu()
				.col-auto.d-none.d-sm-block
					+e.tell(href="#") +7 (900) 000-00-00
					+e.shedule Ежедневно с 9:00 до 21:00
				.col-auto
					+e.btn(href="#")
						+icon('circle-icon')
				.col-auto.d-xl-none
					+b.toggle-menu-mobile--js
						span
					
	// end top-nav