mixin sFAQ(data)
	// start sFAQ
	+b.SECTION.sFAQ.section#sFAQ&attributes(attributes)
		+e.container.container
			+e.q-sign.d-none.d-md-block
				img(loading="lazy" src="img/svg/sFaq-q-sing.svg" alt="")
			+b.section-title
				h2 Часто задаваемые вопросы
			+e.row.row
				+sFAQItem({
					imgEnd: '1.jpg',
					btnClasses: 'active',
				})
					| Кухня у меня уже есть, мне нужно еще пару шкафчиков, вы это делаете?
				+sFAQItem({
					imgEnd: '2.png',
					replyClasses: 'active',
				})
					| Я хочу сделать кухню максимально дешево, Вы сможете мне помочь?
				+sFAQItem({
					imgEnd: '3.jpg',
					btnClasses: 'active',
				})
					| Из чего у вас складывается цена на кухни, сколько стоит кухонный гарнитур?
	// end sFAQ

mixin sFAQItem(data)
	+e.col.col-xl-4
		+e.item.faq-item-js
			+e.ques-bl
				+pic(`sFAQ-img-${data.imgEnd}`)(class="sFAQ__pic")
				+e.question.faq-question-js
					block
				+e.show-btn.faq-btn-js(class=`${data.btnClasses || ''}`) Посмотреть ответ
			+e.reply.faq-reply-js(class=`${data.replyClasses || ''}`)
				p Если Вы все еще сомневаетесь в качестве выполненния нашей работы, прочитайте реальные отзывы, оставленные нашими клиентами.
				p Если Вы все еще сомневаетесь в качестве выполненния нашей работы, прочитайте реальные отзывы, оставленные нашими клиентами.
				p Если Вы все еще сомневаетесь в качестве выполненния нашей работы, прочитайте реальные отзывы, оставленные нашими клиентами.