mixin mnu()
	-
		var nav= {
			"Виды кухонь":"",
			"Стоимость":"active",
			"Отзывы":"",
			"FAQ":"",
			"Контакты":""
			}
	+b.UL.navMenu
		each linkAddClasses, linkName in nav
			+e.LI.item: +e.A.link(href="#" class=linkAddClasses)= linkName
//- /menu